.form {
	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}
.modal {
	&-text {
		text-align: center;
		padding: 20px;
	}
	&-footer {
		display: flex;
		justify-content: center;
		margin: 35px 0 15px;
		column-gap: 10px;
	}
	&-openBtn {
		align-self: flex-end;
		margin-top: 20px;
	}
}
