.modal {
	&-text {
		text-align: center;
	}
	&-footer {
		display: flex;
		justify-content: center;
		margin: 35px 0 15px;
		column-gap: 10px;
	}
	&-openBtn {
		align-self: flex-end;
		margin-top: 20px;
	}
}
