.header {
	&-background {
		width: 100vw;
		background-color: bisque;
		padding: 5px 0;
	}
	&-content {
		width: 1280px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		&__list {
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 45px;

			&-item {
				font-size: 28px;
			}
		}
	}
}
